h1{margin-bottom: 0px;}
.cell-id{color:blue !important;}
sup{
    font-size: 9px;
    color: green;
}
p{color: orange;}
#tabla-alumnos tr[mat-row]:nth-child(even){background-color: #eae9e9 !important;}
